*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#rundom-numbers-container{
  margin: 0 auto;
  text-align: center;
  padding-top: 2em;
  font-size: 2em;
}

#input-container {
  padding-top: 2em;
  display: none;
  justify-content: center;
  gap: 1em;
}

#button-container {
  text-align: center;
  padding-top: 1em;
}

#text {
  display: none;
  text-align: center;
  padding-top: 1em;
  font-size: 1.5em;
}

#result {
  text-align: center;
  padding-top: 1em;
  font-size: 2em;
}

#check-button {
  display: none;
  margin: 0 auto;
  padding: 1em 2em;
  background-color: rgb(28, 28, 179);
  color:  white;
  font-size: 0.8em;
  border: transparent;
  border-radius: 10px;
}